// Body
$body-bg: whitesmoke;

// Borders
$border-color: #ddd;
$laravel-border-color: $border-color;
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$text-color: black;
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// User Defined

//darker shades
$dark: #333;
$black: #111;

//lighter shades
$white: #fff;
$whitesmoke: #eee;
$light-gray: #888;
$dark-gray: #555;

//colors
$link-color: yellowgreen;

$primary-color: #dc143c; //crimson
$blue-color:   #39aeff; //blue
$accent-color:   #39aeff; //blue
$purple: #707ef8;

$gradient-one: linear-gradient(270deg, $dark-gray 0%, $dark-gray 10%, $dark 50%);
$primary-gradient: linear-gradient(190deg, #f85f53, crimson);

//Images
$light-gray-border: solid 1px #ddd;
$secondary-color: #319FE8 ;
$whitesmoke: #f8f8f8;
$black: black;
$white: white;
