<template>
    <div>
    <hr class="pageLead">
    <div class="col-md-6">
        <form action="">
            <!--{{&#45;&#45;row for the name field&#45;&#45;}}-->
            <div class="row">
                <div class="col-md-12">
                    <div :class="['form-group', allErrors.fullName ? 'has-error' : '']">
                        <input type="text"  class="form-control" id="name" placeholder="Enter your full name" v-model="form.fullName" @keydown="clear('fullName')" >

                        <span class="help-block" role="alert" v-if="allErrors.fullName">{{allErrors.fullName[0]}}</span>

                    </div>
                </div>
            </div>
            <!--{{&#45;&#45;End of name field row&#45;&#45;}}-->

            <!--{{&#45;&#45;Start of Studio name fielc&#45;&#45;}}-->
            <div class="row">
                <div class="col-md-12">
                    <div :class="['form-group',allErrors.studioName ? 'has-error' : '']">
                        <input type="text" name="studio_name" class="form-control" id="studio"  placeholder="Enter you studio name" v-model="form.studioName" @keydown="clear('studioName')" >
                        <span class="help-block" role="alert" v-if="allErrors.studioName">{{allErrors.studioName[0]}}</span>
                    </div>
                </div>
            </div>
            <!--{{&#45;&#45;End of Studio name fielc&#45;&#45;}}-->

            <!--{{&#45;&#45;Start of the telephone field&#45;&#45;}}-->
            <div class="row">
                <div class="col-md-12">
                    <div :class="['form-group',allErrors.phoneNumber ? 'has-error' : '']">
                        <input type="tel"  class="form-control" id="tel"  placeholder="Phone Number" v-model="form.phoneNumber" @keydown="clear('phoneNumber')" >
                        <span class="help-block" role="alert" v-if="allErrors.phoneNumber">{{allErrors.phoneNumber[0]}}</span>
                    </div>
                </div>
            </div>
            <!--{{&#45;&#45; End of the telephone field&#45;&#45;}}-->
            <div class="row">
                <div class="col-md-12">
                    <div :class="['form-group',allErrors.city ? 'has-error' : '']">
                        <select name="city" id="" v-model.trim="form.city" class="form-control" @keydown="clear('city')" >
                            <option value="0"> Please Select a city</option>
                            <option value="Port Harcourt"> Port Harcourt</option>
                        </select>
                        <span class="help-block" role="alert" v-if="allErrors.city">{{allErrors.city[0]}}</span>
                    </div>
                </div>
            </div>

            <!--{{&#45;&#45;Start of Email row field&#45;&#45;}}-->
            <div class="row">
                <div class="col-md-12">
                    <div :class="['form-group',allErrors.email ? 'has-error' : '']">
                        <input type="email" name="email" class="form-control" id="email"  placeholder="Your email Address " v-model="form.email" @keydown="clear('email')">
                        <span class="help-block" role="alert" v-if="allErrors.email">{{allErrors.email[0]}}</span>
                    </div>
                </div>
            </div>
            <!--{{&#45;&#45;End of Email row field&#45;&#45;}}-->

            <!--{{&#45;&#45;Start of Address row field&#45;&#45;}}-->
            <div class="row">
                <div class="col-md-12">
                    <div :class="['form-group',allErrors.address ? 'has-error' : '']">
                        <input type="text" name="address" class="form-control" id="address"  placeholder="where do you live eg.No 5 Eagle Island" v-model="form.address" @keydown="clear('address')">
                        <span class="help-block" role="alert" v-if="allErrors.address">{{allErrors.address[0]}}</span>
                    </div>
                </div>
            </div>
            <!--{{&#45;&#45;End of address row field&#45;&#45;}}-->

            <!--{{&#45;&#45;Start of password Field&#45;&#45;}}-->
            <div class="row">
                <div class="col-md-12">
                    <div :class="['form-group',allErrors.password ? 'has-error' : '']">
                        <input type="password" name="password" class="form-control" id="password"  placeholder="Set a Password" v-model="form.password" @keydown="clear('password')">
                        <span class="help-block" role="alert" v-if="allErrors.password">{{allErrors.password[0]}}</span>
                    </div>
                </div>
            </div>
            <!--{{&#45;&#45;End of password Field&#45;&#45;}}-->
            <div class="row">
                <div class="col-md-12">
                    <div :class="['form-group',allErrors.shootHour ? 'has-error' : '']">
                        <input type="number" name="shoot-hours" class="form-control" id="shoot-hours" placeholder="Ideal Shoot Hour Per Week" v-model="form.shootHour" @keydown="clear('shootHour')">
                        <span class="help-block" role="alert" v-if="allErrors.shootHour">{{allErrors.shootHour[0]}}</span>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="col-md-6 special-div">
        <img :src="src" class="my-image" alt="">
    </div>
    </div>
</template>
<script>
    import { required,email } from 'vuelidate/lib/validators';
    import Form from "../form"
    export default{
        data(){
            return{
                form : new Form({
                    fullName: '',
                    studioName:'',
                    phoneNumber:'',
                    email:'',
                    city:'Port Harcourt',
                    address:'',
                    password:'',
                    shootHour:'',
                }),
                allErrors : [],
                src:"/images/photographer.jpg"
            }
        },

        methods:{
            validate() {
                this.$v.form.$touch();
                this.isValid = !this.$v.form.$invalid;
                this.$emit('on-validate', this.$data, this.form.isValid);
                if(this.form.isValid){
                    this.submitPartial();
                }a

                return this.form.isValid;
            },
            submitPartial(){
                //Submitting the form with a promise, if the promise is resolve, it moves to the next step, if promise is rejected it
                // !!window.Laravel.photographer_id ? this.sendPatch() : this.sendPost();
                if(window.Laravel.photographer_id === null){
                       return this.sendPost();  
                }else{
                    return this.sendPatch();
                }
                
            },
            //Send a post request
            sendPost(){
                return new Promise((resolve, reject) => {
                    setTimeout(() => {
                        this.form.submit('post','/photographer/register')
                            .then(response => {
                                this.$root.callNotification('success','success','Success Message','Your basic information has been saved');
                                this.form.isValid = true;
                                this.$emit('on-validate', this.form.errors.errors.errors, this.form.isValid);
                                //Set the current photographer id to the new registered Photographer
                                window.Laravel.photographer_id = response.id;
                                resolve(true);
                            }).catch(() => {
                            this.$root.callNotification('error','error','Error Message','You should fill your form properly');
                            this.isValid = false;
                            this.$emit('on-validate', this.$data, this.form.isValid);
                            this.allErrors = this.form.errors.errors.errors;
                            reject(false);
                        });
                    }, 1000)
                });
            },
            sendPatch(){
                return new Promise((resolve, reject) => {
                    setTimeout(() => {
                        this.form.submit('post',`/photographer/register/${window.Laravel.photographer_id}`)
                            .then(response => {
                                this.$root.callNotification('success','success','Success Message','Your basic information has been Updated');
                                this.form.isValid = true;
                                this.$emit('on-validate', this.form.errors.errors.errors, this.form.isValid);
                                //Set the current photographer id to the new registered Photographer
                                resolve(true);
                            }).catch(() => {
                                this.$root.callNotification('error','error','Error Message','You should fill your form properly');
                                this.isValid = false;
                                this.$emit('on-validate', this.$data, this.form.isValid);
                                this.allErrors = this.form.errors.errors.errors;
                                reject(false);
                        });
                    }, 1000)
                });
            },
            clear(name){
                if(name){
                    delete this.allErrors[name];
                    return
                }
            }
        },
    }
</script>
<style>
    .form-group{
        margin-bottom:20px;
    }
</style>
