<script>
    /* Vue Inline Component */
    import { required } from 'vuelidate/lib/validators';

    export default {
        data(){
          return {
        //form: {"indoor":"Indoor","extra":"Nothing much","plan":{"name":"2 Hours","price":"2,500"},"place":"Lagoon","time":{"date":"2018-07-19","time":"06:50"},"type":["Party"]},
            form: {
                indoor: "",
                user_id : window.Laravel.user_id,
                photographer_id : "",
                extra: "",
                plan: {},
                place: "",
                time: {date: "", time: ""}, 
                type: '',
                payment_method: '',
            }
          }
        },
        computed: {
            //Check the inputs to provide for next input
            queue() {
                let {form} = this;

                return {
                    extra: !!form.extra.length,
                    indoor: !!form.indoor,
                    plan: !_.isEmpty(form.plan),    
                    time: !!form.time.date && !!form.time.time, 
                    place: form.place.length > 0,
                    type: form.type.length ? true : false,
                    payment_method : {
                        cash : form.payment_method == "Cash",
                        transfer : form.payment_method == "transfer",
                        card : form.payment_method == "card",

                    }
                }
            },
        },
        validations:{
          place : { required },
          extra : { required },
          indoor : { required },
        },
        methods: {
            firstDone() {
                let {indoor, place, time, type, extra} = this.queue;
                return indoor && place && time && type && extra;
            },
            setIndoor(value) {
                this.form.indoor = value;
            },
            setPlan(payload) {
                this.form.plan = _.extend({}, payload);
            },
            setType(shootType) {
                this.form.type = shootType.name;
            },
            bookingCompleted() {
                axios.post('/photographer/booking',this.form).then(() => {
                    alert('done');
                }).catch(error => {
                    console.log(error);
                })
            }
        },
        directives: {
            height: {
                bind(el, binding, vnode) {
                    let {when} = binding.modifiers;
                    if('undefined' == vnode.children || vnode.children.length > 1) {
                        console.warn('v-height requires a root node.');
                    }
                    if(when) {
                        el.style.height = '0px';
                    }
                },
                componentUpdated(el, binding, vnode) {
                    let child = $(vnode.children["0"].elm),
                        {when} = binding.modifiers;
                    if(binding.value) {
                        el.style.height = when ? child.height() + 'px' : '0px';
                    }else{
                        if(when) {
                            el.style.height = '0px';
                        }
                    }
                }
            }
        }
    }
</script>

<style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to {
      opacity: 0;
    }
</style>
