<template>
    <div class="container-fluid">
        <form class="row">
            <div class="col-md-6">
                <div class="form-group" >
                    <h4>Camera</h4>
                    <multiselect
                        v-model="form.cameraValue"
                        :options="cameraOptions"
                        tag-placeholder="Create Camera"
                        :multiple="true"
                        track-by="name"
                        :taggable="true"
                        @tag="addCamera"
                        label="name">
                    </multiselect>
                    <!--<span class="help-block" v-if="$v.camera.$error && !$v.camera.required">Your Camera is required</span>-->
                </div>
                <div class="form-group">
                    <h4>Lens</h4>
                    <multiselect
                            v-model="form.lensValue"
                            :options="lensOptions"
                            :multiple="true"
                            track-by="name"
                            label="name"
                    >
                    </multiselect>
                    <!--<span class="help-block" v-if="$v.lens.$error && !$v.lens.required">Your Lens is required</span>-->
                </div>
            </div>
            <div class="col-md-6">
                <h4>Accessories</h4>
                <div class="accessories">
                    <label class="container-check">Small product photography kit <i class="glyphicon glyphicon-info-sign"></i>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>

                    <label class="container-check">Large product photography kit <i class="glyphicon glyphicon-info-sign"></i>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>

                    <label class="container-check">Portable off camera lighting kit <i class="glyphicon glyphicon-info-sign"></i>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>

                    <label class="container-check">Dual light studio kit <i class="glyphicon glyphicon-info-sign"></i>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container-check">Portable studio kit  <i class="glyphicon glyphicon-info-sign"></i>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect';
    import Form from "../form";

    export default{
        props: {
            'equipments': {
                type: Object, 
                //assigns a default value for prop
                default: () => Object.create({cameras: [], lenses: []}),
            }
        },
        data(){
            return {
                form : {
                    id : window.Laravel.photographer_id,
                    cameraValue: [],
                    lensValue: [],
                },
                cameraOptions: [],
                lensOptions:[]
            }
        },
        components: { Multiselect },
        methods: {
            validate() {
                this.$v.form.$touch();
                var isValid = !this.$v.form.$invalid
                this.$emit('on-validate', this.$data, isValid)
                return isValid
            },
            async getEquipmentsOptions() {
                const a = await axios.get('/api/cameras')
                const b = await axios.get('/api/lenses') 

                return [a, b];
            },
            async submitPartial() {
                const {form} = this;
                    form.id = window.Laravel.photographer_id;
                return await axios.post('/photographer/register/equipment', form)
            },
            clear(name){
                if(name){
                    delete this.allErrors[name];
                    return
                }
            },
            addCamera (newCamera) {
                const tag = {
                    name: newCamera,
                }
                this.cameraOptions.push(tag);
                this.cameraValue.push(tag);
                axios.post('/api/special-cameras', tag);
            },
        },
        mounted() {
            const mergeEquipments = () => {
                const {$props: {equipments}, form} = this;
                this.form.cameraValue = _.merge(form.cameraValue, equipments.cameras);
                this.form.lensValue = _.merge(form.lensValue, equipments.lenses);
            };
            this.getEquipmentsOptions().then(([cam_rsp, lens_rsp] = rsp) => {
                this.cameraOptions.concat([]).pop();
                this.$nextTick(() => {
                    this.cameraOptions = cam_rsp.data || [];
                    this.lensOptions = lens_rsp.data || [];
                    mergeEquipments();
                });
            });
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
    .multiselect__tag {
        background-color: crimson;

        &-icon {
            &:after {
                color: white;                
            }

            &:focus:after {
               color: white;    
            }
            
            &:hover {
                background-color: lighten(crimson, 30%);
            }

        }
    }
</style>
