<template>
    <div>
        <p class="text-center">Spectra customers expect experienced photographers to be taking the shoots</p>
        <hr class="pageLead">
        <div class="col-md-12">
            <div class="form">
                <div class="row">
                    <div class="col-md-8">
                        <div :class="['form-group', allErrors.years ? 'has-error' : '']">
                            <label for="">How many years have you been a photographer</label>
                            <input type="number" name="years" class="form-control" id="years" placeholder="Enter your full name"  required style="height: 50px;" v-model="form.years" @keydown="clear('years')">
                            <span class="help-block" role="alert" v-if="allErrors.years">{{allErrors.years[0]}}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" :class="['form-group', allErrors.describeExperience ? 'has-error' : '']">
                            <label for="">Please describe your experience as a photographer</label>
                            <textarea name="describe_experience"  class="form-control" rows="5" placeholder="write something here" v-model="form.describeExperience" @keydown="clear('describeExperience')"></textarea>
                            <span>This will be  used to access your application and will not be displayed on your public profile</span>
                            <span class="help-block" role="alert" v-if="allErrors.describeExperience">{{allErrors.describeExperience[0]}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>The following will be displayed on your public profile</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" :class="['form-group',allErrors.photographerPassion ? 'has-error' : '']">
                            <label for="">Please write a short summary of your experience,training and passion for photography</label>
                            <textarea name="photographer_passion"  class="form-control" rows="5" placeholder="Bradley Yarrow is an experienced photographer who has worked with many clients and customers in sydney for over 10 years. He has a bachelors degree in photography from the university of Australia" v-model.trim="form.photographerPassion" @keydown="clear('photographerPassion')"></textarea>
                            <span>Please write this in the 3rd person perspective</span>
                            <span class="help-block" v-if="allErrors.photographerPassion">{{allErrors.photographerPassion[0]}} </span>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" :class="['form-group', allErrors.beginPhotography ? 'has-error' : '']">
                            <label for="">How did you get started with photography?</label>
                            <textarea name="begin_photography"  class="form-control" rows="5" placeholder="Bradley Yarrow is an experienced photographer who has worked with many clients and customers in sydney for over 10 years. He has a bachelors degree in photography from the university of Australia" v-model.trim="form.beginPhotography" @keydown="clear('beginPhotography')"></textarea>
                            <span>Please write this in the 1st person perspective</span>
                            <span class="help-block" v-if="allErrors.beginPhotography">{{allErrors.beginPhotography[0]}} </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" :class="['form-group', allErrors.loveYourJob ? 'has-error' : '']" >
                            <label for="">What do you love about your job?</label>
                            <textarea name="love_your_job"  class="form-control" rows="5" placeholder="Bradley Yarrow is an experienced photographer who has worked with many clients and customers in sydney for over 10 years. He has a bachelors degree in photography from the university of Australia" v-model.trim="form.loveYourJob" @keydown="clear('loveYourJob')"></textarea>
                            <span>Please write this in the 1st person perspective</span>
                            <span class="help-block" v-if="allErrors.loveYourJob">{{allErrors.loveYourJob[0]}} </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" :class="['form-group', allErrors.yourShootType ? 'has-error' : '']">
                            <label for="">What type of shoots do you enjoy doing the most?why? </label>
                            <textarea name=""  class="form-control" rows="5" placeholder="Bradley Yarrow is an experienced photographer who has worked with many clients and customers in sydney for over 10 years. He has a bachelors degree in photography from the university of Australia" v-model.trim="form.yourShootType" @keydown="clear('yourShootType')"></textarea>
                            <span>Please write this in the 1st person perspective</span>
                            <span class="help-block" v-if="allErrors.yourShootType">{{allErrors.yourShootType[0]}} </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" :class="['form-group', allErrors.shootDone ? 'has-error' : '']">
                            <label for="">What type of shoots have you done and how did you make them special?</label>
                            <textarea name=""  class="form-control" rows="5" placeholder="Bradley Yarrow is an experienced photographer who has worked with many clients and customers in sydney for over 10 years. He has a bachelors degree in photography from the university of Australia" v-model.trim="form.shootDone" @keydown="clear('shootDone')"></textarea>
                            <span>Please write this in the 3rd person perspective</span>
                            <span class="help-block" v-if="allErrors.shootDone">{{allErrors.shootDone[0]}} </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div  :class="['form-group', allErrors.favoritePlace ? 'has-error' : '']" >
                            <label for="">What are some favorite places in your city to take photographs?</label>
                            <textarea name=""  class="form-control" rows="5" placeholder="Bradley Yarrow is an experienced photographer who has worked with many clients and customers in sydney for over 10 years. He has a bachelors degree in photography from the university of Australia" v-model.trim="form.favoritePlace" @keydown="clear('favoritePlace')"></textarea>
                            <span>Please write this in the 3rd person perspective</span>
                            <span class="help-block" v-if="allErrors.favoritePlace">{{allErrors.favoritePlace[0]}} </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div :class="['form-group', allErrors.aboutYou ? 'has-error' : '']">
                            <label for="">Tell us a fun fact about yourself</label>
                            <textarea name="" id="" class="form-control" rows="5" placeholder="Bradley Yarrow is an experienced photographer who has worked with many clients and customers in sydney for over 10 years. He has a bachelors degree in photography from the university of Australia" v-model.trim="form.aboutYou" @keydown="clear('aboutYou')"></textarea>
                            <span>Please write this in the 3rd person perspective</span>
                            <span class="help-block" v-if="allErrors.aboutYou">{{allErrors.aboutYou[0]}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { required } from 'vuelidate/lib/validators';
    import Form from "../form"
    export default{
        data(){
            return {
                form: new Form({
                    id:window.Laravel.photographer_id,
                    years: '',
                    describeExperience: '',
                    photographerPassion: '',
                    beginPhotography: '',
                    loveYourJob: '',
                    yourShootType: '',
                    shootDone: '',
                    favoritePlace: '',
                    aboutYou: '',
                }),
                allErrors: []

            }
        },
        methods:{
            validate() {
                this.$v.form.$touch();
                var isValid = !this.$v.form.$invalid;
                this.$emit('on-validate', this.$data, isValid);
                return isValid;
            },
            submitPartial(){
                return new Promise((resolve, reject) => {
                    this.form.id = window.Laravel.photographer_id;
                    setTimeout(() => {
                        this.form.submit('post','/photographer/register/experience')
                            .then(response => {
                                console.log(response);
                                resolve(true);
                            }).catch(() => {
                                console.log(this.form.errors);
                                this.allErrors = this.form.errors.errors.errors;
                                resolve(false);
                            })
                    }, 1000)
                });
            },
    
            clear(name){
                if(name){
                    delete this.allErrors[name];
                    return
                }
            },
        }

    }
</script>