<template>
    <div class="col-md-12">
        <form action="">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <div :class="['form-group', allErrors.portfolioLink ? 'has-error' : '']">
                            <h4>Your portfolio</h4>
                            <input type="text" class="form-control" v-model="form.portfolioLink" >
                            <span class="help-block" role="alert" v-if="allErrors.portfolioLink">{{allErrors.portfolioLink[0]}}</span>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div :class="['form-group', allErrors.instagramHandle ? 'has-error' : '']">
                            <h4>Instagram Handle</h4>
                            <input type="text" class="form-control" v-model="form.instagramHandle">
                            <span class="help-block" role="alert" v-if="allErrors.instagramHandle">{{allErrors.instagramHandle[0]}}</span>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div :class="['form-group', allErrors.facebookPage ? 'has-error' : '']">
                            <h4>Facebook Page</h4>
                            <input type="text" class="form-control" v-model="form.facebookPage">
                            <span class="help-block" role="alert" v-if="allErrors.facebookPage">{{allErrors.facebookPage[0]}}</span>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div :class="['form-group', allErrors.twitterHandle ? 'has-error' : '']">
                            <h4>Twitter handle</h4>
                            <input type="text" class="form-control" v-model="form.twitterHandle">
                            <span class="help-block" role="alert" v-if="allErrors.twitterHandle">{{allErrors.twitterHandle[0]}}</span>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Areas of Specialization</h4>
                        <p>Please select for all the shoot types which you want to get bookings</p>
                        <span class="help-block has-error" role="alert" v-if="allErrors.categories_id">{{allErrors.categories_id[0]}}</span>
                    </div>

                    <div class="specialization col-md-12">
                        <div v-for="(category, index) in categories">
                            <image-check :catId="category.id" :title="category.name" :checkable="true"
                                @checked="(payload) => !!scrollToDropzone() || (category.checked = payload) " /> 
                        </div>
                    </div>
                </div>
            </div>

            <section>
                <div class="col-md-5" id="picture-upload">
                    <div class="row">
                        <avatar-upload class="mb-15" @loaded="onLoad"></avatar-upload>
                        <section class="col-sm-12">
                            <div class="row">
                                <transition-group id="portfolio-uploads" name="fade">
                                    <portfolio-upload v-for="(category, index) in uploads" 
                                        :key="index" :title=category.name :id=category.id 
                                        v-show="category.checked"/>
                                </transition-group>
                            </div>
                        </section>  
                    </div>
                </div>

            </section>
        </form>
    </div>
</template>

<script>
//    import imageCheck from '../components/ImageCheck.vue';
    import avatarUpload from '../components/avatarUpload.vue';
    import portfolioUpload from '../components/portfolioUpload.vue';
    import Form from  '../form';

    const allCategories = [] // window.Laravel.categories.map(e => _.extend(e, {checked: false}));

    export default{
        components:{portfolioUpload, avatarUpload},
        data(){
          return{
            isChecked : false,
            form : new Form({
                id: window.Laravel.photographer_id,
                portfolioLink: '',
                instagramHandle: '',
                facebookPage: '',
                twitterHandle: '', 
                categories_id : [],
            }),
            allErrors: [],
            categories : allCategories,
            uploads: allCategories,
          }
        },
        computed: {
          categories_id() {
              return this.categories.filter((e) => {
                return e.checked;
              }).map(e => e.id);
          }
        },
        methods:{
            //scrolls to the 'dropzone box' on category selection
            scrollToDropzone() {
                let scrollTop = $('#portfolio-uploads').offset().top + 'px';
                !(this.categories.filter(e => e.checked).length < 3)||
                $('body, html').animate({scrollTop}, 1000, 'swing')
            },
            //validates the form
            validate() {
                this.$v.form.$touch();
                var isValid = !this.$v.form.$invalid;
                this.$emit('on-validate', this.$data, isValid);
                return isValid;
            },
            onLoad(avatar){
                this.persist(avatar.file);
            },
            persist(avatar){
                let data = new FormData();
                data.append('avatar',avatar);
                data.append('photographer_id',this.form.id);
                axios.post(`/api/photographer/avatar`,data)
                    .then(() => alert('avatar uploaded with success'))
                    .catch(e => {
                        console.log(e);
                    }) 
            },
            isImageChecked(checked){
                return checked= true;
            },
            submitPartial(){
                this.form.categories_id = this.categories_id;
                this.form.id = window.Laravel.photographer_id;

                this.form.submit('post','/photographer/register/portfolio').then(e => {
                    window.location.href = "/photographer/register/complete"
                }).catch(errors => {
                    this.allErrors = this.form.errors.errors.errors;
                })
            }
        }
    } 
</script>
