<template>
    <!--Portfolio Picture-->
    <div class="form-group">
        <h4>Provide your Profile Picture</h4>
        <div class="col-md-6" style="padding:0px;">
            <div class="avatar">
    			<img :src="src" alt="" class="img-responsive">
            </div>
        </div>
        <div class="col-md-6">
            <label class="btn btn-black text-center">
                <span class="ti ti-image" style="color:white;"></span> Upload image
                <input  name="image" type="file" class="form-control"  accept="image"  @change="onChange">
            </label>
            <p style="font-size: 10px;">Please image should be 200 by 200px</p>
        </div>

    </div>
</template>

<script>
	export default{
		data(){
			return {
				src : ''
			}
		},
		methods:{
			 onChange(e){
                if(! e.target.files.length) return;
                let file = e.target.files[0];
                let reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = e => {
                    this.src = e.target.result;
                    let imgSrc = this.src;
                    this.$emit('loaded',{imgSrc,file})

                }
            }
		}
	}
</script>
