<template>
    <div>
        <div class="photography-spec is-4"  :class="{'checked': checkStatus}" @click="markCheck">
            <div class="caption" :style="{'background': color }">
                <h5 class="text-center">{{title}}</h5>
            </div>
        </div>
    </div>
</template>

<script>
    import portfolioUpload from './portfolioUpload.vue';
    export default {
        components:{'portfolio-upload' : portfolioUpload},
        data() {
            return{
                checkStatus : false
            }
        },
        props: {
            color: {
                required : false
            },
            title : {
                required :true
            },
            catId :{
                required: true
            },
            checkable:{
                default : false
            },
            catName :  {
                required :true
            }
        },
        methods: {
            //toggles the `checkStatus` data
            markCheck(){
                if(this.checkable == true){
                    if(this.checkStatus === false){
                        this.checkStatus = true;
                    }else{
                        this.checkStatus = false;
                    }
                    this.$emit('checked', this.checkStatus);
                }
                else{
                   window.location = `/category/${this.catName}`;
                }
            }
        }
    }
</script>

<style lang="scss">
    .text-white{
        color: white;
    }    

    .specialization {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .photography-spec {
        background: url("/images/hero-caption.jpeg");
        background-size:cover;
        position: relative;
        cursor: pointer;
        border-radius: 5px;
        height: 180px;
        width: 140px;
        margin: 5px;
        transition: .3s;
        margin-bottom: 20px;
        box-shadow: 0 0px 0px lightgray;

        .caption {
            left:0px;
            right:0px;
            bottom:0px;
            position:absolute;
            background: whitesmoke;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        
        &.checked > .caption {
            color: white;
            background: crimson;
        }
    }

    .photography-spec:hover{
        transform: translateY(-5px);
        box-shadow: 0 3px 18px lightgray;
    }
</style>
