<template>
	<transition name="fade">
	<div v-if="show" class="wg-lightbox" @scroll.stop="noScroll" :wg-lightbox="_uid">
		<div class="wg-top-bar">
			<div class="wg-top-bar-nav">
				<li>
					<a href="#"><i class="wgi wgi-heart"></i></a>
				</li>
				<li>
					<a href="javascript: void 0" @click="$emit('closed', false)"><i class="ti ti-close"></i></a>
				</li>
			</div>
		</div>
		<div class="wg-next" @click="next">
			<i class="ti ti-angle-right"></i>
		</div>
		<div class="wg-box-area">
			<figure v-if="!! currentImage">
				<img :src="currentImage.src" alt="">
			</figure>
		</div>
		<div class="wg-prev" @click="prev">
			<i class="ti ti-angle-left"></i>
		</div>
		<div class="wg-base">
			<figure @click="selectImage($event, key)" :class="{'wg-current-image': index == key}" v-for="(image, key) in images">
				<img :src="image.src" alt="">
			</figure>
		</div>
	</div>
	</transition>
</template>

<style lang="scss">
	$border-color: #d1d1d1;

	.fade-enter-active, .fade-leave-active {
      	transition: opacity .5s;
		visibility: visible;
    }

    .fade-enter, .fade-leave-to {
		visibility: hidden;
		opacity: 0;
    }

	.wg-lightbox {
		width: 100%;
		background: #ddd;
		display: grid;
		grid: 
			"top-bar top-bar top-bar" 40px
			"prev lightbox next" calc(100vh - 140px)
			"base base base" 100px
			/ 50px 1fr 50px;
	    position: fixed;
	    z-index: 100 !important;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    overflow: hidden;

		.wg-next, .wg-prev {
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				background-color: fade-out(black, .9);
				color: crimson;
			}
		}
	    .wg-next {
	    	grid-area: next;
			border-left: solid 1px $border-color;
	    }

	    .wg-prev {
	    	grid-area: prev;
			border-right: solid 1px $border-color;
	    }
	}

	.wg-top-bar {
		display: flex;
		padding: 0 15px;
		grid-area: top-bar;
		border-bottom: solid 1px $border-color;
		justify-content: flex-end;

		.wg-top-bar-nav {
			width: auto;
			display: inline-flex;

			li {
				display: block;
				padding: 5px 10px;
				margin: 0 5px;
				line-height: 30px;
				min-width: 60px;

				a {
					color: #888;
					text-decoration: none;
					font-weight: bolder;

					&:hover {
						color: #333;
					}
				}
			}
		}
	}

	.wg-box-area {
    	grid-area: lightbox;
		display: flex;
		justify-content: center;
		align-items: center;

		figure {
			max-width: 800px;
			height: calc(100% - 15px);

			> img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				transition: all .5s ease-out;
			}
		}
	}
	.wg-base {
		border-top: solid 1px $border-color;
		grid-area: base;
		height: 100px;
		display: flex;
		justify-content: center;

		figure { 
			width: 90px;
			height: 90px;
			margin: 5px 5px;
			background-color: #ccc;
			border-radius: 3px;
			overflow: hidden;

			&.wg-current-image {
				border: solid 2px crimson;
			}
		}

		figure > img {
			width: 90px;
			height: 90px;
			object-fit: cover;
		}
	}
</style>

<script>
	export default {
		name: "WgLightbox",
		props: ['show', 'images','currentIndex'],
		watch: {
			show(a, b) {
				$(window)[a?'on':'off']('scroll', this.noScroll);
			},
			currentIndex(a, b) {
				this.index = a;
			}
		},
		data() {return {
			index: 1,
		}},
		computed: {
			currentImage( ) {
				return this.images[this.index];
			},
			base () {
				return $(`[wg-lightbox=${this._uid}]`);
			},
			imagesList() {
				return this.images;
			} 
		},
		methods: {
			/*prevents the lightbox from scrolling*/
			noScroll(event) {
				$(window).scrollTop(0);
			},

			/* changes the image index when an image is clicked */ 
			selectImage($event, key) {
				this.index = key;
				// this.resize($event.target);
			},
			/* resizes the image by ratio*/
			resize(el) {
				let maxWidth = this.base.find(`.wg-box-area figure`).width(); // Max width for the image
		        let maxHeight = this.base.find(`.wg-box-area figure`).height();    // Max height for the image
		        let ratio = 0;  // Used for aspect ratio
		        let imageElement = $(`[wg-lightbox=${this._uid}] .wg-box-area figure > img`);
		        let width = imageElement.get(0).naturalWidth;    // Current image width
		        let height = imageElement.get(0).naturalHeight;  // Current image height

		        // Check if the current width is larger than the max
		        if(width > maxWidth){
		            ratio = maxWidth / width;   // get ratio for scaling image
		            width = maxWidth; // Set new width
		            height = height * ratio;  // Scale height based on ratio
		            // height = height * ratio;    // Reset height to match scaled image
		            // width = width * ratio;    // Reset width to match scaled image
		        }

		        // Check if current height is larger than max
		        if(height > maxHeight) {
		            ratio = maxHeight / height; // get ratio for scaling image
		            height = maxHeight   // Set new height
		            width = width * ratio   // Scale width based on ratio
		            // width = width * ratio;    // Reset width to match scaled image
		            // height = height * ratio;    // Reset height to match scaled image
		        }
		        imageElement.css({width, height});
		    },
		    /* increments the Image Index */
			next() {
				// console.log('clicking');
				let {index: oldCurrent} = this;
				!(oldCurrent > this.images.length) ? this.index++ : oldCurrent
			},
			/*decrements the Image Index*/
			prev() {
				// console.log('clicking prev');
				let {index: oldCurrent} = this;
				oldCurrent > 0 ? this.index-- : oldCurrent
			}
		}
	}
</script>
