<template>
	<div class="likes">
       <p>
       	<i class="wgi" :class="styles" @click.stop="setLike"></i>
       	<span>{{ likes }} Likes </span>
       </p>
    </div>
</template>

<script>
	export default {
		props:['image_id','image_likes', 'status'],
		created() {
			let {image_id, image_likes} = this.$props;
			this.id = image_id;
			this.state = this.$props.status;
			this.likes = image_likes;
		},
		updated() {
			console.log('updating !');
		},
		data() {return {
			id: 0,
			likes: 0,
			state: false,
			lastState: true,
		}},
		watch: {
			state(a, b) {
				this.lastState = b;
			}
		},
		computed: {
			styles() { 
				let {state} = this;
				return {
				'wgi-heart-o': !state,
				'wgi-heart': state
			}},
		},
		methods: {
			decrementLikes(times = 1) {
				this.likes = this.likes - times;
			},
			incrementLikes(times = 1) {
				this.likes = this.likes + times;
			},
			setLike() {
				this.lastState = this.state;
				this.updateLike();
			},
			likeFailed(error) {
				console.warn('There was an error when trying to like an image.')
				//resets the likes
				this.state = false;
				this.decrementLikes();
			},
			likeSuccess (response) {
				let {status} = response.data;
				//updates likes
				(this.state = status)
				status ? this.incrementLikes() : this.decrementLikes(); 
			},
			//wait 1second before updating like
			updateLike: _.debounce(function() {
				const {lastState, state} = this;
				const {image_id,} = this.$props;  

				lastState !== state ? this.decrementLikes() :
				axios.post(`/api/images/${image_id}/like`)
					.then(this.likeSuccess)
					.catch(e => {
						(e.response.data.message == "Unauthenticated.") 
						? window.showUnauthNotification()
						: '';
					});
			}, 1000),
		}
	}
	
</script>
