<template>
	<div class="wg-p-validator">
		<span :style="percentLevel" class="wg-p-progress"></span>
	</div>
</template>

<style lang="scss">

	.wg-p-validator {
		width: 250px;
		height: 10px;
		background: linear-gradient(90deg, #ccc, #ddd, #ccc);
		position: relative;

		.wg-p-progress {
			position: absolute;
			width: 0%;
			left: 0; right: 0;
			top: 0; bottom: 0;
			background: crimson;
			opacity: 0.7;
			transition: all .3s ease-out .5s;		
		}
	}
</style>

<script>
	import passwordValidator from 'zxcvbn';

	export default {
		name: 'PasswordValidator',
		props: ['value', 'userInputs'],
		data() {return {
			percentages: Array(5).fill("").map((e,i) => i * 25),
			current: 0,
		}},
		watch: {
			value(a, b) {
				this.current = this.checkInput(a).score;
			}
		},
		methods: {
			checkInput(a) {
				return passwordValidator(a, this.$props.userInputs);
			}
		},
		computed: {
			percentLevel() {
				let {current} = this,
					per = this.percentages[current];

				const levelColor = () => 
					current == 1 ? 'indianred':
					current == 2 ? 'yellow' :
					current == 3 ? 'orange' :
					current == 4 ? 'limegreen' : 'inherit'; 
				return {
					backgroundColor: levelColor(), 
					width: `${per}%`,
				}
			}
		}
	}
</script>
