<template>
  <div class="portfolio-upload">
      <vue-dropzone class="dropzone wg-dropzone" ref="myVueDropzone" id="customdropzone" :include-styling="false" :options="options">
      </vue-dropzone>
  </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'

    export default{
        props:['title', 'id', 'checked'],
        components : {
            vueDropzone: vue2Dropzone
        },
        data(){
            return{ 
                options: {
                  url: '/api/photographer/image',
                  params:{
                    id: this.id,
                    photographer_id : 1
                  },
                  previewTemplate: this.template(),
                  uploadMultiple:true,
                  maxFilesize: 0.5,
                  headers: { "My-Awesome-Header": "header value" },
                  dictDefaultMessage: `Drop your ${this.title} Pictures here`,
              },
              // checked : true
            }
        },
        mounted(){
           
        },
        methods : {
                template() {
                    return `<div class="dz-preview dz-file-preview">
                <div class="dz-details">
                  <section class="dz-progress-box">
                    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                    <div data-dz-remove>
                        <i class="ti ti-close"></i>
                    </div>
                  </section>
                  <section class="dz-file-info">
                    <span data-dz-name></span>
                    <span id="dz-mb" data-dz-size></span>
                  </section>
                </div>
                <div class="dz-error-message"><span data-dz-errormessage></span></div>
                <div class="dz-success-mark"><i class="fa fa-check"></i></div>
                <div class="dz-error-mark"><i class="glyphicon glyphicon-picture"></i></div>
            </div>
        `;
                },
            
        }
    }
</script>
<style lang="scss">
  .wg-dropzone {
      color: #777;
      padding: 40px;
      border-radius: 10px;
      background-color: white;
      border: dashed 2px #cccc;
      letter-spacing: 0.2px;
      transition: border .2s linear;
  }

  .dz-upload{
    background: #555 linear-gradient(90deg, indianred, crimson);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: width .3s ease-in-out;
  }

  .dz-details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .dz-progress-box {
    display: flex;
    justify-content: space-between;

    .dz-progress{
      flex: 1 80%;
      margin-top: 5px;
      opacity: 1;
      pointer-events: none;
      height: 16px;
      width: 80px;
      background: hsla(0,0%,100%,.9);
      transform: scale(1);
      border-radius: 8px;
      overflow: hidden;
    }

    [data-dz-remove] {
      flex: 1 30px;
    }
  }

  .dz-file-info {
    display: flex;
    text-align: left;
    flex-flow: column nowrap;
    justify-content: space-around;

    [data-dz-size] {
      flex: 1 100%;
      order: 2;
    }

    [data-dz-name] {
      order: 1;
      flex: 1 80%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  #customdropzone .dz-preview .dz-image {
    display:none;
  }

  #customdropzone .dz-preview .dz-image > div {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-size: contain;
  }

  #customdropzone .dz-preview .dz-image > img {
    width: 100%;
  }

  #customdropzone .dz-preview .dz-details {
    text-align: center;
    transition: opacity .2s linear;
  }

  #customdropzone .dz-success-mark, .dz-error-mark, .dz-remove {
    display: none;
  }

  .dz-error-message{
    display: none;
  }
</style>
