$total: 20;
$increments: 5;
$start: 0;

.m-0 {
	margin: 0;
}
.p-0  {
	padding: 0;
}

@for $number from 1 through $total {
	$inc: $number * $increments;
	@each $pos in (bottom, top, left, right) {
		.m-#{$pos}-#{$inc} {
			margin-#{$pos}: #{$inc}px;
		}
		.m-#{$pos}-i-#{$inc} {
			margin-#{$pos}: -#{$inc}px;
		}
	}
	.m-#{$inc} {
		margin: #{$inc}px;
	}
	.m-l-#{$inc} {
		margin-left: #{$inc}px;
	}
	.m-r-#{$inc} {
		margin-right: #{$inc}px;
	}
	.m-b-#{$inc} {
		margin-bottom: #{$inc}px;
	}
	.p-#{$inc} {
		padding: #{$inc}px;
	}
	.p-l-#{$inc} {
		padding-left: #{$inc}px;
	}
	.p-r-#{$inc} {
		padding-right: #{$inc}px;
	}
	.p-t-#{$inc} {
		padding-top: #{$inc}px;
	}
	.p-b-#{$inc} {
		padding-bottom: #{$inc}px;
	}
}

.block-quote {
	@extend .p-l-15;
	@extend .p-r-15;

	border: none;

	//add the border left and right settings;
	$pos: (left, right);
	@each $po in $pos {
		&.bordered-#{$po} {
			border-#{$po}: solid 3px $accent-color;
		}
	}
}

$total: 20;
$increments: 5;
$start: 0;

@for $number from 0 through $total {
	$inc: $number * $increments;

	.mx-#{$inc} {
		margin-left: #{$inc}px;
		margin-right: #{$inc}px;
	}

	.my-#{$inc} {
		margin-top: #{$inc}px;
		margin-bottom: #{$inc}px;
	}

	.m-#{$inc} {
		margin: #{$inc}px;
	}
	.mt-#{$inc} {
		margin-top: #{$inc}px;
	}
	.mt-i-#{$inc} {
		margin-top: -#{$inc}px;
	}
	.ml-#{$inc} {
		margin-left: #{$inc}px;
	}
	.ml-i-#{$inc} {
		margin-left: -#{$inc}px;
	}
	.mr-#{$inc} {
		margin-right: #{$inc}px;
	}
	.mr-i-#{$inc} {
		margin-right: -#{$inc}px;
	}
	.mb-#{$inc} {
		margin-bottom: #{$inc}px;
	}
	.mb-i-#{$inc} {
		margin-bottom: -#{$inc}px;
	}
	.p-#{$inc} {
		padding: #{$inc}px;
	}
	.pt-#{$inc} {
		padding-top: #{$inc}px;
	}
	.pl-#{$inc} {
		padding-left: #{$inc}px;
	}
	.pr-#{$inc} {
		padding-right: #{$inc}px;
	}
	.pb-#{$inc} {
		padding-bottom: #{$inc}px;
	}
}

.block-quote {
	@extend .pl-15;
	@extend .pr-15;

	border: none;

	//add the border left and right settings;
	$pos: (left, right);
	@each $po in $pos {
		&.bordered-#{$po} {
			border-#{$po}: solid 3px $accent-color;
		}
	}
}

.mc {
	margin-right: auto;
	margin-left: auto;
}

.no-margin, .m-n{
	margin: 0;
}

.no-padding, .p-n {
	padding: 0;
}
