%input-font {
  font-family: $input-font ;
  font-weight: 400;
}

%input {
  @extend %input-font;

  background-color: #fff;
  color:black;
  height: 40px;
  border: none;
  border-radius: 0px;
  width: 100%;

  &[type=checkbox],
  &[type=radio]{
    width: auto;
    height: auto;
    display: inline !important;
  }

  &[type=submit]{
    width: auto;
    padding: .3em 1em;
    text-indent:0;
    text-transform: lowercase;
    display: block;
    margin: 15px auto;
  }

  &:hover {
    background: #eee;
  }

  &:focus {
    box-shadow: 0px 0px 3px $accent-color;
  }

  &[type=submit]:hover {
    background: lightgreen;
  }

}


%form-style-2 {

  input , 
  textarea,
  select  {
    @extend %input-font;

    border: none;
    background: transparent;
    border-radius: 0;
    box-shadow: 0 0 black;
    border: {
      left: solid 3px #bbb;
    }
    transition: auto .3s ease-in;
    transition-property: background, border;

    &:focus {
          background: transparentize($light-gray,.34);
          border : {
              left: {
                  color: $accent-color;
              }
          }
        }
  }

  input {
    &[type=text] {
      margin: 15px 0 0;
    }
  } 

  textarea {
    min-height: 100px;
    width: 100%;
    padding: 7px;
  }

}

.form-style-3 {
  input.form-control {
    background: #eee;
    border: none;
    color: #333;
    border-radius: 0;
    box-shadow: none !important;
    &[disabled] {
      background-color: white;
    }

    &:hover {
      background-color: #ccc;
    }
  }
}

.input-group.search {
    .form-control,
    .input-group-button,
    .input-group-addon
     {
      border: none;
      box-shadow: none;
    }
}

input, select {
  &.form-control {
    &:focus {
      border: solid 1px #ddd;
      box-shadow: 0 0 0px 2px white, 0 0 0 4px $primary-color !important;
    }
  }
}
