%sm-props {
    width: 100px;
    height: 80%;
}

.content-preloader {
  position: relative;
  display: inline-block;
  vertical-align: top;
  opacity: .7;

  &.block {
    display: block;
  }
  &.sm {
    &.slide::after {
      @extend %sm-props;
    }
  }

  &.slide::after {
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    background-image: linear-gradient(80deg, #e1e1e1,darken(#e1e1e1, 10%),#e1e1e1);
    background-position-x: 10%; 
    background-size: 100px 30px;
    z-index: 10;
    border-radius: 5px;
    animation: sliding 1s infinite running linear 0s;
    // animation-fill-mode:  forward;
  }
}

table .content-preloader {
   &.slide::after {
      @extend %sm-props;
   }
}
