.wg-booking {
    @extend %wg-login;
    padding: 10px 0px !important;
}

.wg-plan {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
    &-card {
        width: 150px;
        height: 150px;
        margin: 10px;
        display: flex;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        border: solid 1px #ddd;
    }
}

.btn-special {
    background: white;
    padding: 10px 40px;
    border: 1px solid $border-color;
    border-radius: 5px;
    margin: 10px;
    transition: .3s;

    &:hover {
        color: $primary-color;
        border-color: $primary-color;
        cursor:pointer;
    }

    &-lg {
        padding: 10px;
    }

    &.wg-active {
        @include z-depth-bottom(1);

        background: $primary-color;
        color: white;
    }
}


.mr {
    margin:30px;
}

.wg-booking{
    padding: 10px;
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 10px whitesmoke;
    max-width: 700px;
    margin: 50px auto;
}
