.wg-error {
	display: flex;
	justify-content: center;
}

.wg-error-image {
	flex: 1 200px;

	img {
		object-fit: cover;
		max-height: 300px;
	}
}

.wg-error-page {
	flex: 1 350px;
	max-width: 650px;
	padding: 30px;
}
