%wg-login {
	@include z-depth-bottom(3);
	max-width: 760px;
	margin: 30px auto;
	background-color: white;

	.heading {
		color: $primary-color;
	}

	input {
		height: auto;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 0;
		&::placeholder {
			color: #888;
		}
	}

	button[type=submit] {
		font-size: 1.1em;
		padding: 5px 15px;
		@extend .md-btn;
	}
}

#wg-register-box {
	@extend %wg-login;
	padding: 15px 30px 30px;

	.wg-form-holder {
		display: flex;
		flex-wrap: wrap;
		
		.cover-image {
			position: relative;

			img { position: relative; z-index: 2; }

			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0; left: 0;
				transform: translate3d(-15px, -15px, 0);
				border: solid 1px crimson;
			}
		}
		.cover-image, form {
			flex: 1 300px;
		}
	}

	.form-group {
		max-width: 300px;
		margin: {left: 0; right: auto}

		input {
		}
	}
}

#wg-login-box {
	@extend %wg-login;

	height: 400px;
	margin-bottom: 40px;
	position: relative;
	display: flex;


	margin: {
		top: 30px;
		right: auto;
		left: auto;
	}

	form {
		width: 50%;
		padding: 15px 30px;
		background: white;
		position: relative;
		transform: translateX(0%);
		transition: all .3s cubic-bezier(0.26, 0.46, 0, 0.89) .1s;

		&.right {
			transform: translateX(100%);			
		}
	}

	.back-images {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;

		#wg-photographer-image,
		#wg-client-image {
		    width: 50%;
		    // filter: grayscale(1);
		    background-blend-mode: multiply;
		    background: url('/images/photographer.png') no-repeat 0% 50% / cover;
		}

		#wg-client-image {
		    filter: grayscale(1);
		    background: url('/images/hero-caption.jpeg') no-repeat 50% 0% / cover;
		}
	}

}

#wg-reset {
	@extend %wg-login;
	padding: 15px;
}
