body {
    background-color: #f4f4f4;
}

ul >li{
    list-style: none;
}

.nav-tabs>li>a{
    color:black;
}

#portfolio-container { 
    display: grid;
    padding: 0 30px;
    grid:"p-sidebar p-records"
        / 300px 1fr;
    grid-gap: 30px;

    @media screen and (max-width: $screen-phone) {
        grid:"p-sidebar" "p-records"
            / 1fr;
        padding: {left: 10px;right: 10px}
    }
}

.portfolio-sidebar {
    grid-area: p-sidebar;
    // background: crimson;
}

.portfolio-records {
    grid-area: p-records;
    // background: purple;
}

%wg-card {
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.16);
}

.profile {
    @extend %wg-card;
    padding: 5px 15px 5px;

    &-name {
        color: $dark;
        font-weight: bolder;
    }
    
    .booking-hold { height: 25px }
    
    .booking-btn {
        position: relative;
        z-index: 3;
        border-radius: 30px;
        padding: 0;
        transform: translateY(-50%);
        height: 40px;
        width: 40px;
        background: white;
        @include z-depth-bottom(1);
        transition: all .3s ease-out;

        &:hover {
            @include z-depth-bottom(2);
        }

        .wgi {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }

    &-pic{
        width: 100px;
        height: 100px;
        border-radius: 75px;
        object-fit: cover;
        box-sizing: content-box;
        background: #ddd;
        border: none;
    }
}

.speciality {
    position: relative;
    padding: {left: 0;right: 0}
    z-index: 1;
    // border: solid 1px black;
    // background: #ededed;

    li {
        padding: 5px 15px;
        text-align: center;
        display: inline-block;
        position: relative;

        &:after {
            content: "";
            transition: .3s;
            background: $primary-color;
            height: 2px;
            border-radius: 3px;
            left: 50%; right: 50%;
            position: absolute;
            bottom: 0;
        }

        a {
            text-decoration: none;
            display: block;
            color: $light-gray;

        }

        &:hover {
            // border-left-width: 5px;
            background: white;
        }

        &.active {
            &:after {
                right: 0;
                left: 0;
            }

            a {
                color: $primary-color;
            }
        }
    }
}

.wg-equipments {
    @extend %wg-card;
}


.preloader {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.16);

    &-holder {
        flex: 1 100%;
        width: 100% !important;
    }
}

.wg-user-portfolio {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: flex-start;

    @for $i from 1 to 4 {
        > div:nth-child(#{$i}) {
            flex: 1 180px;   
        }
    }

    > div {
        width: 180px;
        height: 180px;
        max-width:  250px;
        border-radius: 3px;
        margin: 0 15px 30px;
        position: relative;
    }

    @media screen and (max-width: $screen-phone) {
        > div {
            width: 200px;
            height: 200px;
            margin: 0 3px 7.5px;
        }
    }
}

.item {
    position: relative;
    background-size: cover;
    background-color: #fff;
}

.likes {
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    background: linear-gradient(0deg, fade-out($black, .6), fade-out($black, 1));

    > p {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 10px;
        color:white;
    }
}

.preloader.pls-crimson .plc-path {
    stroke: crimson;
}
