html,
body {
    margin: 0;
    font-weight: 400;
    background-color: #fff;
    color: #636b6f;
}

#root > main {
    @media screen and (min-width: $screen-xs) {
        // margin-top: 50px;
    }

    .testimonial {
        text-align: center;

        .img-responsive {
            display: inline;
        }
        .comment {
            max-width: 380px;
            margin: 15px auto 0;

            &-avatar {
                display: inline-block;
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 30px;
                margin-right: 15px;
            }

            figcaption {
                color: $primary-color;
                display: inline-block;
                text-align: left;
            }
        }
    }
}

.flying-ribbon {
    z-index: 0;
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: block;
    background: url(/images/assets/wg-flying-ribbon-bg.svg) no-repeat top right;

    & + * {
        position: relative;
        z-index: 2;
        font-family: $heading-font;
    }
}

.leavee-bg {
    @extend .flying-ribbon;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background: #31312d url(/images/assets/wg-leavee-bg.svg) no-repeat center center / cover;

    .caption {
        color: #ffffff;
        font: {family: $heading-font; style: italic};
    }
}

#wg-steps {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;

    .wg-step {
        flex: 1 200px;
        margin: 15px;
        min-width: 200px;
        max-width: 250px;
        text-align: center;

        &-image {
            width: 150px;
            height: 150px;
        }
    }
}

.main-bg {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: lightgray url('/images/background.jpg') no-repeat 300px -70px / cover;
    background-blend-mode: darken;
    background-origin: border-box;
    position: relative;
    transform: translateY(-60px);
    z-index: 1;
}

.main-caption {
    padding: 100px 50px;
    color: #333;
    position: absolute;
    font: {
        size: 25px;
        weight: 100;
        family: $heading-font;
        weight: 300;
    }
    width: auto;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-between;

    h1 {
        font-family: $heading-font;
        font-weight: 100;
    }
}


.wg-full-width {
    width: 100% !important;
}

.wg-full-height {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

label {
    font-weight: 200;
    color: black;
}

.title {
    font-size: 84px;
}

header {
    top: 0;
    z-index: 30;
    position: relative;
    background: crimson;
    padding: 0 30px;

    &.large {
        padding: 30px ;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .wg-nav-links {

        > li {
            display: inline-block;
            padding: 0 5px;
            font-size: 12px;

            > a {
                color: white;
                padding: 5px 7.5px;
                max-height: 60px;
                display: block;
                letter-spacing: .1rem;
                text-decoration: none;
                line-height: 50px;
                text-transform: uppercase;
            }
        }

        .wg-avatar-thumbnail {

            > .dropdown-menu {
                border: none;
                min-width: 200px;
                border-radius: 12px;
                top: calc(100% + 30px);

                &:before {
                    content: "";
                    width: 0px;
                    display: block;
                    height: 0px;
                    margin-top: -18px;
                    float: right;
                    border: solid 12px blue;
                    -webkit-transform: rotate(90deg) translate(0, 10px);
                    transform: rotate(90deg) translate(-9px, 11px);
                    border-color: transparent #ffffff transparent transparent;
                }

                [class~=ti], [class~=glyphicon] {
                    margin-right: 15px;
                }
            }
        }
    }
}

.m-b-md {
    margin-bottom: 30px;
}

.icon {
    padding: 10px;
    font-size: 26px;
    margin: 5px;
    color: white;
}

.btn-pink {
    @extend .wg-btn;

    color: white;
    background: $primary-gradient;

    &:hover {
        color: white;
    }
}

.btn-blue {
    @extend .wg-btn;

    color: white;
    background: linear-gradient(90deg, $blue-color, $purple);

    &:hover {
        color: white;
    }
}

.btn-white {
    @extend .wg-btn;

    color: #333;
    background: linear-gradient(#ff345b, #f85f53);
    background: white;

    &:hover {
        color: #333;
    }
}

.heading {
    font-family: $heading-font;
    font-weight: 200;
}

.subheading {
    text-align: center;
    font-weight: 100;
    font-size: 15px;
}

.cnt-h1 {
    @extend .heading;

    text-align: center;
}

.photo-category {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: center;
}

#personal {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: 1px;
}

#business {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-width: 1px;
    border-left: none;
}

.grid-container {
    display: grid;
    width: 700px;
    margin: auto;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 200px 200px;
}

.grid-item {
    background: blue;
}

.icon {
    font-size: 30px;
    padding: 0px;
}

.img-container {
    width: 20%;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
    text-align: center;
}

.pricing {
    background: whitesmoke;
    padding: 20px;
}

.price {
    display: flex;
}

.price-slide {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    background: white;
    padding: 20px;
    border-radius: 5px;
    list-style: none;
    margin: 10px;
}

.no-style {
    list-style: none;
    text-align: left;
}

.space {
    margin-right: 20px;
    >i {
        color: lightgreen;
    }
}

//text colors
.lightblue {
    color: lightblue;
}

.crimson {
    color: $primary-color;
}

//footer
footer {
    position: relative;
    z-index: 2;

    button#top {
        color: white;
        position: relative;
        z-index: 2;
        border: none;
        display: block;
        margin: 0 auto;
        font-size: 2em;
        background: $primary-gradient;
        height: 80px; width: 80px;
        border-radius: 50%;
        transition: .3s .5s;
        border: solid 10px $body-bg;
        top: 40px;
        transform: translate3d(0, 0%, 0);

        &:hover {
            transform: translate3d(0, -20%, 0);
        }
    }

    .footer-nav > {
        li {
            list-style: none;
            line-height: 30px;
        }
        h3 {
            font-size: 18px;
            color: lightblue;
        }
    }
}


#no-heading {
    margin-top: 50px;
}

.complete {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.good {
    font-size: 80px;
    color: lightgreen;
}

// ###############################################

/* For errors */

.error {
    color: crimson;
    font-size: 10px;
    font-weight: 100;
    font-family: $heading-font;
}

.hero-caption {
    position: absolute;
    width: 100%;
    height: 21em;
}


/* Custom image upload button */

input[type=file] {
    display: none;
}


/* Customize the label (the container) */

.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;
    color: gray;
    user-select: none;
}


/* A custom black button with a text color of white */

.btn-black {
    background: black;
    color: white
}

.wizard-footer-left {
    margin: 15px;
}

.photographer-form {
    padding: 20px;
}


/* In the equipment tab font for type of Camera */

#camera-select {
    font-size: 20px;
}


/* In the equipment tab font for type of lens */

#lens-select {
    font-size: 20px;
}


/* The caption for the registration page */

.photographer {
    height: inherit;
    width: inherit;
    background-color: blue;
    background: linear-gradient(rgba(185, 0, 28, 0.6),
    rgba(170, 55, 53, 0.8)),
    rgba(170, 18, 53, 0.8) url('/images/hero-caption.jpeg');
}


/* The container for the form */

.hero-form {
    border: 1px solid whitesmoke;
    background: white;
    border-radius: 5px;
    margin-top: 2em;
}


/* Any write up that has spectra on it */

.spectra {
    position: relative;
    color: white;
    font-family: roboto;
    font-weight: lighter;
}

.pageLead {
    padding: 10px;
    width: 50%;
}


/* Gives answer to a question */

.formHelper {
    text-align: center;
    padding: 10px;
    text-decoration: underline;
    color: black;
}


/* Changes the height of the form */

.form-control {
    height: 56px;
}


/* Hide the browser's default checkbox */

.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container-check:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container-check input:checked~.checkmark {
    background-color: #f3213e;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container-check input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

label {
    color: #a09c9c;
}

.span-helper {
    color: #a09c9c;
    font-size: 10px;
}

.avatar {
    height: 200px;
    width: 200px;
    background-color: #555;
    border: 2px solid #ccd0d2;
}

#portfolio-uploads {
    .portfolio-upload {
        margin: {
            top: 15px;
            right: 15px
        }
    }
}

.mr-20 {
    margin: 20px auto;
}

.my-image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.wizard-footer-right {
    margin: 15px;
}
