@import './autoload';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import './home';
@import './layouts/login';
@import './layouts/errors';

*[v-cloak] {
    display: none;
}

.notifications {    
    &.portfolio-notify {
        .notification {
            border-radius: 10px;
            text-align: center !important;            
        }
    }
}

.vue-notification {
    cursor: default;
    padding: 10px;
    margin: 0 5px 5px;
    font-weight: light;
    color: #ffffff;
    background: #44A4FC;
    font-family: $default-font;
    border-left: none !important; // border-top: 5px solid #187FE7;

    a {
        color: white !important;
        font-weight: bold;
        text-transform: uppercase;
    }

    &.warn {
        background: #ffb648; // border-top-color: #f48a06;
    }

    &.error {
        background: #E54D42; // border-top-color: #B82E24;
    }

    &.success {
        background: #68CD86; // border-top-color: #42A85F;
    }
}

.wg-t {
    &-primary {
        color: $primary-color;
    }
    &-accent {
        color: $accent-color;
    }
    &-red {
        color: $accent-color;
    }
}

.wg-btn {
    font: {
        size: 15px;
        weight: 300;
        family: $alt-font;
    }
    border: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: all .3s ease-out;

    .shadow {
        box-shadow: 0px 3px 1px fade-out(black, .71);

        &:hover {
            box-shadow: 0px 4px 8px fade-out(black, .71);
        }
    }
}

.person-detail {
    text-align: center;
}

.panel {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);

    &-body {
        padding: 0px;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
    }
}

input {
    font-family: $input-font;
    font-weight: 400;
}

.container {
    position: relative;
    z-index: 3;
}

.sort-nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    margin: 10px;
    background: whitesmoke;
    border-bottom-radius: 5px;
}

.sort-nav>ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 10px;
}

.sort-nav>ul>li {
    margin: 5px;
    color: black;
    font-size: 12px;
}

.search {
    margin: 10px;
}

.submit-btn {
    background: $primary-gradient;
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-weight: 100;
    border-radius: 25px;
}

#root.wg-finder {

    >#wg-content {
        display: grid;
        background: #eee;
        padding: 0;
        margin: 0;
        grid: "directory sidebar" calc(100vh - 70px) / 1fr 350px;
        grid-gap: 0px;

        #wg-profile-directory {
            padding-top: 15px;
            width: 100%;
            padding: {
                left: 15px;
                right: 15px
            }
            overflow-y: scroll;
        }

        #wg-sidebar {
            // border-left: solid 1px $border-color;
            display: grid;
            grid: "search-input" 60px "search-filter" 1fr / 100%;
        }
    }
}

.search-box {
    z-index: 3;
    grid-area: search-input;
    background-color: white;

    .wg-search {
        @include z-depth-bottom(2);

        width: 280px;
        display: flex;
        height: 60px;
        flex-wrap: nowrap;
        padding: 10px 0;
        overflow: hidden;
        background: transparent; // border-bottom: solid 1px whitesmoke;
        input {
            order: 2;
            color: #333;
            width: 100%;
            outline: none;
            border: none;
            text-indent: 0px;
            font: {
                font-family: "raleway";
                size: 16px;
            }
            background: transparent;

            &::placeholder {
                color: #888;
            }
        }

        button {
            order: 1;
            border: none;
            width: 50px;
            line-height: 40px;
            background: transparent;
        }
    }
}

.wg-filter {
    grid-area: search-filter;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 0;

    &-heading {
        top: 0px;
        z-index: 2;
        margin: 0px;
        position: sticky;
        color: #999;
        background: white;
        padding: 5px 10px;
        text-align: right;
        border-bottom: solid 1px whitesmoke;
    }

    >div>ul {
        padding: 10px;
        font-size: smaller;
        box-sizing: border-box;
        margin-bottom: 0;
    }

    .wg-tag {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 30px;
        background: white;
    }

    &-btn-list {

        >li {
            @extend .wg-tag;

            color: crimson;
            margin: {
                right: 5px;
                bottom: 5px
            }
            ;
        }
    }

    ul>li {
        display: block;
        list-style: none;
        font-size: larger;
    }
}

#wg-profile-directory {
    $gutter: 7.5px;
    margin: 0 auto;
    display: block;


    .wg-search-info {
        color: $dark-gray;
        height: 30px;
        line-height: 30px;
        padding: {
            left: 15px;
            right: 15px
        }
        margin-bottom: 15px;
    }

    &-list {
        max-width: (256px + ($gutter * 2)) * 4;
        display: flex;
        margin: 0 auto;
        flex-flow: row wrap;
        justify-content: center;

        >.profile-card {
            margin: {
                left: $gutter;
                right: $gutter
            }
        }
    }
}

.profile-card {
    width: 256px;
    margin-bottom: 15px;

    >figure {
        width: 256px;
        height: 200px;
        border-radius: 3px;
        position: relative; // background: linear-gradient(-34deg, crimson, indianred);
        background: white;
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.08);
        z-index: 2;
        overflow: hidden;
        margin: 0;
        padding: 0;

        img {
            position: absolute;
            object-fit: cover;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: all .3s ease-out;
        }

        .wg-portfolio,
        .wg-book {
            @include z-depth-bottom(1);

            background: white;
            padding: 0;
            height: 30px;
            transform: translateX(-50px);
            width: 30px;
            border-radius: 12px;
            color: crimson;
            transition: transform .5s cubic-bezier(0, 0, 0.21, 1) .0s;
        }

        .wg-book {
            color: $accent-color;
            transition-delay: .1s;
        }
    }

    .wg-options {
        padding: 10px;
    }

    .wg-photographer-avatar {
        width: 30px;
        height: 30px;
        box-sizing: content-box;
        object-fit: cover;
    }

    .wg-photographer-info {
        line-height: 30px;
        padding: 5px;
        position: relative;
        z-index: 3;
    }

    &:hover {
        figure img {
            transform: scale(1.1);
        }

        .wg-book,
        .wg-portfolio {
            transform: translateX(0);
        }
    }
}

@import './layouts/booking';
@import './layouts/portfolio';

//icons
.wgi {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: {
        position: center;
        size: cover;
    }
    cursor: pointer;
    transition: background .1s ease-out;

    &-portfolio {
        background-image: url(/images/assets/wg-portfolio.svg);
    }

    &-heart {
        background-image: url(/images/assets/wg-heart.svg);
        &:hover {
            opacity: 0.8;
        }
    }
    &-heart-o {
        background-image: url(/images/assets/wg-heart-o.svg);

        &:hover {
            background-image: url(/images/assets/wg-heart.svg);
        }
    }
    &-like {
        background-image: url(/images/assets/wg-like.svg);
    }
    &-booking {
        background-image: url(/images/assets/wg-booking.svg);
    }
}

#docs {
    display: grid;
    margin-top: 30px;
    grid: "sidebar content" / 260px 1fr;
    grid-gap: 30px;

    .wg-docs-sidebar {
        grid-area: sidebar;
        .wg-directory {
            position: sticky;
            top: 0;
            padding: 1px 15px 15px;
        }

        .wg-sidebar-heading {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            height: 55px;
            margin-top: 0;
        }

        ul {
            width: 100%;
            padding-left: 0;

            li {
                display: block;
                width: 100%;
                line-height: 30px;
                padding: 0 15px 0 20px; // border-bottom: solid 1px #e8e8e8;
                a {
                    text-decoration: none;
                    color: inherit;
                }

                &::before {
                    content: "";
                    height: 2px;
                    width: 8px;
                    vertical-align: middle;
                    transform: translateX(-50px);
                    opacity: 0;
                    display: inline-block;
                    background-color: $primary-color;
                    @include ease-out(all, .3s);
                }

                &.active,
                &:hover {
                    color: $primary-color;

                    &::before {
                        opacity: 1;
                        transform: translateX(-20px);
                    }
                }
            }
        }
    }

    .wg-docs-content {
        max-width: 750px;
        grid-area: content;
    }
}

//text colors
.wg {
    &-t-blue {
        color: $blue-color;
    }
}

//Vue Js Transition Classes
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
    visibility: visible;
}

.fade-enter,
.fade-leave-to {
    visibility: hidden;
    opacity: 0;
}

.slideup-enter-active,
.slideup-leave-active {
    transition: all .8s cubic-bezier(0, 0.07, 0, 0.95) .4s;
    transform: translateY(0%);
    opacity: 1;
}

.slideup-enter,
.slideup-leave-to {
    transform: translateY(-50%);
    opacity: 0;
}

.slideDown-enter-active,
.slideDown-leave-active {
    transition: all .8s cubic-bezier(0, 0.07, 0, 0.95) .4s;
    transform: translateY(0%);
    opacity: 1;
}

.slideDown-enter,
.slideDown-leave-to {
    transform: translateY(50%);
    opacity: 0;
}
